.post_detail {
    margin-bottom: 2em;
}

.post_detail img {
    width: 50vw;
}

.post_detail h2 {
    margin-bottom: .4em;
}

.post_detail .tags {
    margin-bottom: 1.2em;
}

.tags p {
    margin-right: .5em;
}

.createdBy {
    font-size: .8em;
    margin-bottom: 1em;
}